# Ozan&Oldubil
#Ozan
host-suffix,ozan.com,Ozan
host-suffix,sdkapi.netmera.com,Ozan

#Oldubil
host-suffix,oldubil.colendilabs.com,Ozan
host-suffix,tr-push.dengage.com,Ozan
host-suffix,tr-event.dengage.com,Ozan
host-suffix,cdn.dengage.com,Ozan

